mat-toolbar {
  background-color: rgb(241, 232, 215);
}
.nav {
  padding-left: 200px;
}
.nav a {
  border-radius: 20px;
}
.nav a:hover {
  background-color: rgb(6, 10, 6);
  color: rgb(245, 239, 239);
  transition: 3s;
}
.mat-toolbar span {
  color: rgb(8, 223, 37);
  font-family: cursive;
  font-size: 25px;
}
.icons {
  position: absolute;
  padding-left: 500px;
  top: 20px;
}
.icons a {
  background-color: rgb(241, 232, 215);
  box-shadow: none;
  width: 0px;
  text-decoration: none;
  padding-left: 5px;
  align-content: center;
}
.icons a:hover {
  background-color: none;
}
.icons mat-icon {
  padding-right: 30px;
  backface-visibility: hidden;
}
