<div class="container">
  <div class="vegpic">
    <img src="../../assets/home3.png" alt="main" />
  </div>

  <div class="bigtext">
    ORGANIC
    <sub>food</sub>
  </div>
  <div class="smalltext">
    Bring health to your home in a couple of clicks. Buy organic food right from
    farmers.
  </div>
  <div class="viewproducts"><a href="#" mat-button>View all Products</a></div>
</div>
<div class="container1">
  <div class="bx1">
    <img src="../../assets/small1.png" />
    <span>1</span>
    <h1>Discover</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>

  <div class="bx2">
    <img src="../../assets/small2.png" />
    <span>2</span>
    <h1>Discover</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="bx3">
    <img src="../../assets/small3.png" />
    <span>3</span>
    <h1>Discover</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="bx4">
    <img src="../../assets/small3.png" /><span>4</span>
    <h1>Discover</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="bx5">
    <img src="../../assets/small1.png" /><span>5</span>
    <h1>Discover</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
</div>
<div class="container3">
  <div class="organic-choice">
    <span>The Organic Choice</span>
  </div>
</div>
<div class="container4">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="../../assets/HM4.jpg"
          alt="Avatar"
          style="width: 300px; height: 290px"
        />
        <a href="/fruits">Fruits</a>
        <P>8 items</P>
      </div>
      <div class="flip-card-back">
        <P
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
          suscipit?</P
        >
        <button>
          <a href="/fruits">Fruits</a>
        </button>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="../../assets/home6.jpg"
          alt="Avatar"
          style="width: 300px; height: 290px"
        />
        <a href="/contact-us">ORDER</a>
      </div>
      <div class="flip-card-back">
        <P
          >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita,
          quasi!</P
        >
        <button>
          <a href="/contact-us">Contact us</a>
        </button>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="../../assets/HM2.jpg"
          alt="Avatar"
          style="width: 290px; height: 290px"
        />
        <a href="/vegetables">Vegetables</a>
        <P>8 items</P>
      </div>
      <div class="flip-card-back">
        <P
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
          quam.</P
        >
        <button>
          <a href="/vegetables">Vegetables</a>
        </button>
      </div>
    </div>
  </div>
</div>
